<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect non-www to www over HTTPS -->
        <rule name="Redirect non-www to www HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^easypagar\.com$" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://www.easypagar.com/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Redirect HTTP www to HTTPS www -->
        <rule name="Redirect HTTP to HTTPS for www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.easypagar\.com$" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://www.easypagar.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
