.title{
 text-align: center;
 color: #1e3a8a;
 font-size: 15px;
 font-weight: 600;
 text-transform: uppercase;

}

.title h2{
    font-size: 32px;
    color: #1e3a8a ;
    margin-top: 5px;
    text-transform: none;
}