.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: 600px;
  margin: auto
}

.mobile-image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto
}

.features {
  position: absolute;
  background-color: rgba(255, 255, 255, .8);
  padding: 10px;
  width: 280px;
  text-align: center;
  z-index: 2;
  height: 150px
}

.top-left {
  top: 10%;
  left: 10%
}

.top-right {
  top: 10%;
  right: 10%
}

.bottom-left {
  bottom: 10%;
  left: 10%
}

.bottom-right {
  bottom: 10%;
  right: 10%
}

@media (max-width:480px) {
  .features {
    height: 160px;
    width: 100%;
    max-width: none
  }

  .mobile-image {
    padding: 130px;
    width: 40px;
    height: 40px
  }

  .bottom-left,
  .bottom-right,
  .top-left,
  .top-right {
    font-size: 14px;
    padding: 8px
  }

  .top-left {
    top: 10%;
    left: 5%;
    width: 30%
  }

  .top-right {
    top: 10%;
    right: 5%;
    width: 30%
  }

  .bottom-left {
    bottom: 10%;
    left: 5%;
    width: 30%
  }

  .bottom-right {
    bottom: 10%;
    right: 5%;
    width: 30%
  }
}